BattleTank/Content/StarterContent/Architecture/Floor_400x400.uasset
BattleTank/Content/StarterContent/
BattleTank/Content/Tank/
BattleTank/Content/_Levels/BattleGround.umap
BattleTank/Content/UI/2000px-US_Woodland_pattern.svg.png
BattleTank/Content/UI/2000px-US_Woodland_pattern_svg.uasset
